.wrapper{
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: 
  "createSchedule orderSearch"
  "tableContainer tableContainer";

}
.create-schedule-container{
  grid-area: createSchedule;
}
.order-search-container{
  grid-area: orderSearch;
}
.table-container{
  grid-area: tableContainer;
}