.wrapper{
  display:grid;
}
.create-schedule__container-1{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 3fr 1fr;
}
.create-schedule__container-2{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.coil-dimensions{
  display:grid;
  grid-template-columns: 1fr 1fr;
}
.coil-dimensions > section > label, .idia-sleeve > label, .create-schedule__container-2 > div > label{
  margin-right: 1rem;
}